<!DOCTYPE html>
<html>
    <head>
        <title>Wordify</title>
        <meta charset="UTF-8">
        <meta name ="keywords" content ="Spotify, API, music">
        <meta name = "description" content = "Test your musical wordiness">
        <meta http-quiv="X-UA-Compatible" content="IE-edge">
        <meta name ="viewport" content="width=device-width, initial-scale=1">

        <link rel ="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>

    <body>
        <header>
            <a href ="#" id = "burger">
                <i class ="fa fa-bars"></i>    
            </a>

            <div id = "links">
                <a href = "wordify.html">Home</a>
                <a href = "privacy.html">Privacy Policy</a>
                <a href = "about.html">About</a>
            </div>   
        </header>
        <div id="about">
            <h1 class = "question">Privacy</h1>
            <p class = "answer">This website doesn't store or distribute any user data, so no need to worry about cookies or anything. 
            </p>
        
        <footer>
            <p>Made By Tom P</p>
        </footer>

        <script src = "script.js"></script>
    </body>
</html>