<!DOCTYPE html>

<head>
    <title>Wordify</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="Spotify, API, music">
    <meta namme="description" content="Test your musical wordiness">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <a href="#" id="burger">
            <i class="fa fa-bars"></i>
        </a>

        <div id="links">
            <a href="wordify.html">Home</a>
            <a href="privacy.html">Privacy Policy</a>
            <a href="about.html">About</a>
        </div>
    </header>

    <div class = "blurb">
        <h1 id="score-title">Wordify</h1>
    </div>

    <table id="leaderboard">
        <thead>
            <th colspan="3">World Leaderboard</th>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id = "calculating-container">
        <h1 class="calculating">Calculating Wordiness...</h1>
    </div>
    <p id = "warning">This might take a couple mins</p>
    <div id="loading-container">
        <div id="outer-circle">
            <div id="inner-circle">
                <p>0</p>
            </div>
        </div>
    </div>
    <div class="results-container">
        <div id = "category">
            <img>
            <h1></h1>
            <p></p>
        </div>
        <div class= "personal-container">
            <h2>Your wordiest songs are...</h2>
            <div class="top-5">
                <ul id = "tracks">
                    <li>
                        <div class="level">
                            <img>
                            <a><i class ="fa fa-spotify" title="Listen to this track on Spotify"></i></a>
                        </div>
                        <span></span>
                    </li>
                    <li>
                        <div class="level">
                            <img>
                            <a><i class ="fa fa-spotify" title="Listen to this track on Spotify"></i></a>
                        </div>
                        <span></span>
                    </li>
                    <li>
                        <div class="level">
                            <img>
                            <a><i class ="fa fa-spotify" title="Listen to this track on Spotify"></i></a>
                        </div>
                        <span></span>
                    </li>
                    <li>
                        <div class="level">
                            <img>
                            <a><i class ="fa fa-spotify" title="Listen to this track on Spotify"></i></a>
                        </div>
                        <span></span>
                    </li>
                    <li class = "twocolumns">
                        <div class="level">
                            <img>
                            <a><i class ="fa fa-spotify" title="Listen to this track on Spotify"></i></a>
                        </div>
                        <span></span>
                    </li>
                </ul>
            </div>
            <h2>Your most verbose artists are...</h2>
            <div class = "top-5">
                <ul id = "artists">
                    <li>
                        <div class="level">
                            <img>
                            <a><i class ="fa fa-spotify" title="Listen to this artist on Spotify"></i></a>
                        </div>
                        <span></span>
                    </li>
                    <li>
                        <div class="level">
                            <img>
                            <a><i class ="fa fa-spotify" title="Listen to this artist on Spotify"></i></a>
                        </div>
                        <span></span>
                    </li>
                    <li>
                        <div class="level">
                            <img>
                            <a><i class ="fa fa-spotify" title="Listen to this artist on Spotify"></i></a>
                        </div>
                        <span></span>
                    </li>
                    <li>
                        <div class="level">
                            <img>
                            <a><i class ="fa fa-spotify" title="Listen to this artist on Spotify"></i></a>
                        </div>
                        <span></span>
                    </li>
                    <li class = "twocolumns">
                        <div class="level">
                            <img>
                            <a><i class ="fa fa-spotify" title="Listen to this artist on Spotify"></i></a>
                        </div>
                        <span></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   

    <div class = "notFound">
        <h1>Sorry, we couldn't get your lyrical data. This is probably because of the low limits of the free tier
            of the services we use to get the lyrics (musixmatch API), so only a limited number of users can use the
            site per day.
        </h1>
        <img src = "https://img.freepik.com/free-photo/man-with-hat-wondering_23-2148666518.jpg?w=1380&t=st=1690502838~exp=1690503438~hmac=218543ef12e0154fc5f044ee714d4fb3d6df9ec9c919d3b29fa2d505f6bc0bd9">
    </div>

    <button type = "button" id = "logout">Log Out</button>

    <footer>
        <p>Made By Tom P</p>
    </footer>

    <script src="script.js"></script>
</body>