*{
    margin-left: 0;
    margin-right: 0;
}

html{
    width: 100%;
    font-size: 60%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

@supports (-moz-appearance: none) {
    html {
      font-size: 67.5%;
    }
  }

header{
    background-color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

#burger{
    margin-right: 0.75rem;
    display: block;
    font-size: 3rem;
    text-align: right;
}

#links{
    text-align: center;
    display: none;
    flex-direction: column;
}

#links>a{
    margin-bottom: 0.5rem;
    color: #1DB954;
    text-decoration: none;
}

#links>a:hover{
    color: #f33e06
}

.title{
    background-image: linear-gradient(300deg,#20c058, #0e4621);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    font-size: 3rem;
}

.blurb>p{
    font-size: 1.75rem;
}

#login{
    margin-top: 3.5rem;
    font-size: 1.5rem;
    background-color: #1DB954;
    border: 10px solid #1DB954;
    border-radius: 25px;
}

#logout{
    margin-top: 3.5rem;
    font-size: 2rem;
    background-color: blue;
    border: 10px solid blue;
    border-radius: 25px;
    width: 150px;
    position: relative;
}

.question{
    color: #1DB954;
    font-size: 2rem;
    margin-top: 5rem;
    border-top: thin solid grey;
}

.answer{
    font-size: 1.5rem;
    text-align: left;
    margin-left: 10px;
}

#leaderboard{
    position: absolute;
    width: 15%;
    font-size: 1.25rem;
    border-collapse: collapse;
    text-align: center;
    border: thin solid grey;
}

th{
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(6) {
    background-color: #72e99b;
}

#calculating-container{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.calculating{
    white-space: nowrap;
    overflow: hidden;
    font-size: 3rem;
    color: #0e4621;
    animation: expandShrink 2s infinite alternate;
}

@keyframes expandShrink {
    0%{
        font-size: 1.5rem;
        color: #0e4621;
    }
    100%{
        font-size: 2.5rem;
        color: #1DB954;
    }
}

#warning{
    font-size: 1.5rem;
}

#outer-circle{
    margin: auto;
    width: 25rem;
    height: 25rem;
    border: solid gray;
    border-radius: 50%;
    align-items: center;
}

#inner-circle{
    margin: auto;
    margin-top: 7rem;
    width: 10rem;
    height: 10rem;
    border: inherit;
    border-radius: 50%;
    background-color: white;
}

#inner-circle>p{
    margin-top: 1.75rem;
    font-size: 5.25rem;
}

.falling-word{
    position:absolute;
    top: 0;
    font-size: 2rem;
    transition: transform 3s, opacity 4s;
}

#category{
    margin: 2rem 2rem 2rem 2rem;
    display: grid;
    place-items: center;
}

#category>img{
    width: 60%;
    max-height: 175px;
    border-radius: 10%;
    border: solid thin #f33e06;
}

#category> h1{
    color: #f33e06;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
#category>p{
    width: 75%;
    text-align: center;
    margin-top: 0;
    font-size: 1.5rem;
}

.result{
    color: #0e4621;
    font-size: 5rem;
}

.results-container{
    width: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 2s ease 2s;
}

.results-container>h1{
    margin-bottom: 5rem;
}

.personal-container{
    max-height: 0;
    opacity: 0;
    transition: all 2s ease 2s;
    display: grid;
    place-items: center;
    max-width: 100vw;
    width: 100%;
    margin-top: 2rem;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.personal-container>h2{
    min-width: 100%;
    font-size: 2.2rem;
    color:#0e4621;
    border-top: solid thin grey;
    border-bottom: solid thin grey;
}

.notFound{
    display: block;
    margin: auto;
    margin-top: 30px;
    max-width: 60vw;
    max-height: 0px;
    opacity: 0;
    transition: all 2s ease 2s;
}
.notFound>img{
    max-width: 100%;
    max-height: 500px;
}

.slide-in{
    opacity: 1;
    max-height: 2000px;
}

.scroll-in{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    max-height: 2000px;
}

.top-5{
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
}

.top-5>ul{
    display: grid;
    justify-items: center;
    place-items: center;
    grid-template-columns: 2;
    grid-template-rows: 3;
    grid-gap: 50px;
    margin-right: 25px;
}

.top-5>ul>li{
    display: grid;
    place-items: center;
}

.top-5>ul>li>img{
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
}

.twocolumns{
    grid-column: span 2;
}

footer{
    margin-top: 2rem;
    border-top: 1px solid lightgray;
}

footer>p{
    padding-top: 3rem;
}

/*RESPONIVE MEDIA RULES*/

@media only screen and (min-width: 750px) {
    html{
        font-size: 70%;
    }
    #burger{
        display: none;
    }
    #links{
        justify-content: right;
        margin-right: 3rem;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    #leaderboard{
        position: absolute;
        width: 15%;
        font-size: 1.75rem;
        border-collapse: collapse;
        text-align: center;
        border: thin solid grey;
    }

    #category{
        margin: 3rem 2rem 2rem 2rem;
        display: grid;
        place-items: center;
        font-size: 1rem;
    }
    
    #category>img{
        margin-top: 1rem;
        width: 30%;
        max-height: 500px;
        border: none;
    }
    
    #category> h1{
        color: #f33e06;
        font-size: 3rem;
        margin-bottom: 0.5rem;
        margin-top: 0;
    }

    #category>p{
        width: 40%;
        text-align: center;
        margin-top: 0.5rem;
        font-size: 2rem;
    }

    .personal-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid grey;
        max-width: 800px;
        width: 60%;
        box-shadow:5px 5px 10px 7px #1DB954;
    }

    .personal-container>h2{
        border: none;
    }

    .top-5>ul{
        grid-gap: 50px;
        margin-right: auto;
    }

    .top-5>ul>li{
        max-width: 300px;
    }
}