*{
    margin-left: 0;
    margin-right: 0;
}

html{
    width: 100%;
    font-size: 62.5%;
    text-align: center;
}

header{
    background-color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

#burger{
    margin-right: 0.75rem;
    display: block;
    font-size: 3rem;
    text-align: right;
}

#links{
    text-align: center;
    display: none;
    flex-direction: column;
}

#links>a{
    margin-bottom: 0.5rem;
    color: #1DB954;
    text-decoration: none;
}

.title{
    background-image: linear-gradient(100deg,#20c058, #0e4621);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    font-size: 3rem;
}

.blurb>p{
    font-size: 1.25rem;
}

#login{
    margin-top: 3.5rem;
    font-size: 1.5rem;
    background-color: #1DB954;
    border: 10px solid #1DB954;
    border-radius: 25px;
}

#outer-circle{
    margin: auto;
    width: 25rem;
    height: 25rem;
    border: solid gray;
    border-radius: 50%;
    align-items: center;
    /*background: linear-gradient(to top, #1DB954 50%, blue 90%, white 20%);*/
}

#inner-circle{
    margin: auto;
    margin-top: 7rem;
    width: 10rem;
    height: 10rem;
    border: inherit;
    border-radius: 50%;
    background-color: white;
}

#inner-circle>p{
    margin-top: 1.75rem;
    font-size: 5.25rem;
}

.falling-word{
    position:absolute;
    top: 0;
    font-size: 2rem;
    transition: transform 3s, opacity 4s;
}

.result{
    color: #0e4621;
    font-size: 3rem;
}

.results-container{
    opacity: 0;
    transition: opacity 500ms ease 2s;
}

.results-container>h1{
    margin-bottom: 5rem;
}

.personal-container{
    opacity: 0;
    transition: all 500ms ease 2s;
}

.slide-in{
    opacity: 1;
}

.personal-container>h2{
    font-size: 2.2rem;
    color:#0e4621;
}

.top-5{
    display: grid;
    place-items: center;
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
}

.top-5>ul{
    width: 60vw;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    grid-gap: 20px;
}

.top-5>ul>li{
    display: grid;
    place-items: center;
}
.top-5>ul>li>img{
    max-width: 80px;
}
.twocolumns{
    grid-column: span 2;
}

footer{
    margin-top: 2rem;
    border-top: 1px solid lightgray;
}

footer>p{
    padding-top: 3rem;
}