<!DOCTYPE html>
<html>
    <head>
        <title>Wordify</title>
        <meta charset="UTF-8">
        <meta name ="keywords" content ="Spotify, API, music">
        <meta namme = "description" content = "Test your musical wordiness">
        <meta http-quiv="X-UA-Compatible" content="IE-edge">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel ="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>

    <body>
        <header>
            <a href ="#" id = "burger">
                <i class ="fa fa-bars"></i>    
            </a>

            <div id = "links">
                <a href = "wordify.html">Home</a>
                <a href = "privacy.html">Privacy Policy</a>
                <a href = "about.html">About</a>
            </div>   
        </header>

        <div class="blurb">
            <h1 class="title">Wordify</h1>
            <p>Log in below with your Spotify account and get a score
                based off the vocabulary of your top artists.
            </p>
        </div>

        <button type = "button" id = "login">Log in With Spotify</button>
        
        <footer>
            <p>Made By Tom P</p>
        </footer>

        <script src = "script.js"></script>
    </body>
</html>
